doctype html
ul
  if list
    each item in list
      li
        if !item.type
          a(href='#{item.name}/')= item.name + '/'
        else
          a(href='#{item.name}')= item.name
  else
   = url
