doctype html
if list
  ul
    li
      a(href='../')= '../'
    each item in list
      li
        unless item.type
          a(href='#{item.name}/')= item.name + '/'
        else
          a(href='#{item.name}')= item.name
else
  = url
